* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-color: #202124;
}


/*  Nav class="menu"    */
.phome {
    width: 35px;
    height: 35px;
    margin: 0;
    display: inline-block;
    vertical-align: middle; /* Alinea verticalmente la imagen */
    filter: drop-shadow(-6px -600px -50px rgb(165, 133, 255));
}
#menu {
    background-color: rgb(107, 64, 224);
    position: fixed;top: 0% ;
    left: 50%; /* Establece el punto de referencia en el centro horizontal */
    transform: translateX(-50%); /* Corrige la mitad del ancho del elemento */
    z-index: 2;
    display: flex; /* Usa flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
    width: 100%; /* Asegura que el menú ocupe toda la anchura de la página */
    align-items: center;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: flex; /* Usa flexbox */
}
#menu ul li {
    display: inline-block;
    margin: 0 0px; /* Añade un espacio entre los elementos del menú */
}
#menu ul li a{
    color: rgb(255, 255, 255);
    text-shadow: 
        -1px -2px 0 rgb(0, 0, 0),  
         1px -2px 0 rgb(0, 0, 0),
        -1px  2px 0 rgb(0, 0, 0),
         1px  2px 0 rgb(0, 0, 0); 
    display: block;
    text-decoration: none;
    padding: 15px 20px;
    /*padding: 15px 78.6px;*/
}
#menu ul li a:hover{
    background-color: #202124;
}
#menu ul li a.pindex:hover {
    filter: drop-shadow(6px 6px 5px rgb(165, 133, 255));
}
#menu ul li a.pxbox:hover {
    filter: drop-shadow(6px 6px 5px rgb(0, 255, 34));
}
#menu ul li a.pepicgames:hover {
    filter: drop-shadow(6px 6px 5px rgb(255, 255, 255));
}
#menu ul li a.psteam:hover {
    filter: drop-shadow(6px 6px 5px rgb(103, 220, 255));
}
#menu ul li a.pubisoft:hover {
    filter: drop-shadow(6px 6px 5px rgb(0, 0, 0));
}
#menu ul li a.phomea {
    width: 48px; /* ajusta el ancho según sea necesario */
    height: 48px; /* ajusta la altura según sea necesario */
    padding: 5px 7px; /* ajusta el relleno según sea necesario */
}
#menu ul li a.phomea:hover {
    filter: drop-shadow(6px 6px 5px rgb(165, 133, 255));
    
}
#menu ul li a.phomea:hover img.phome {
    filter: drop-shadow(0px 0px 5px rgb(165, 133, 255));   
}
/* Default styles */
.menu-toggle {
    display: none;
    background-color: rgb(107, 64, 224);
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    margin: 10px;
}
.menu-items {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

/*  Buscador dentro del Nav */
.search-box {
    width: 300px; /* ajusta el ancho según sea necesario */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none; /* elimina el contorno al hacer clic */
    margin-top: 3px; /* Ajusta este valor según tu diseño */
}
.search-box:focus {
    border-color: #007bff; /* cambia el color del borde al enfocar */
}
.search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.search-button:hover {
    background-color: #0056b3; /* cambia el color al pasar el ratón */
}
.search-container {
    
    vertical-align: top;
    margin-left: 20px; /* Ajusta este valor según sea necesario */
}


/*  Titulo  */
.flex-center{
    display: flex;
    justify-content: center;
}
h2 {
    text-align: center;
    font-size: 55px;
    margin-top: 80px;
    margin-bottom: -30px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    padding: 10px 0px;
    text-shadow: 6px 6px 5px rgb(0, 0, 0);;
}


/*  Contador    */
#contador-imagenes {
    font-size: 18px;
    color: #fff;
    /* Agrega cualquier otro estilo que desees */
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 6px 6px 5px rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: -25px;
}


/*  Menu desplegable para ordenar imagenes*/
#menu2 {
    font-family: Arial, sans-serif;
    margin-left: 5.1%;
    color: #fff;
    text-shadow: 
        -1px -2px 0 rgb(0, 0, 0),  
         1px -2px 0 rgb(0, 0, 0),
        -1px  2px 0 rgb(0, 0, 0),
         1px  2px 0 rgb(0, 0, 0); 
}
#menu2 label {
    font-weight: bold;
    margin-right: 10px;
}
#ordenar {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    cursor: pointer;
    transition: border-color 0.3s ease;
}
#ordenar:hover {
    border-color: #999;
}
#ordenar:focus {
    outline: none;
    border-color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
#ordenar option {
    background-color: #fff;
    color: #333;
}


/*  Galeria de imagenes    */
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));/* Poner 200 si quiero que sean 5 en vez de 6 */
    margin: 3%;/* Antes estaba en 5*/
    grid-gap: 30px;
    filter: drop-shadow(6px 6px 5px rgb(107, 64, 224));
    position: relative;
}
.gallery img{
    max-width: 300px; /* Ancho máximo igual al ancho del contenedor */
    width: 100%;
    height: auto;
    transition: all 300ms;
    position: relative;
    display: flex;
    border: 1px solid black; /* Grosor del borde y color negro */
    max-width: fit-content;
}
.gallery img:hover{
    transform: scale(1.11);
}
/*  Horas y Logros    */
.imagen-contenedor {
    transition: all 300ms;
    height: 83.6%;
    
}
.imagen-contenedor:hover .progress2 {
    transform: scale(1.12);
}
.imagen-contenedor:hover .percentage-text {
    transform: scale(1.11);
}
.imagen-contenedor:hover .img-horas {
    transform: scale(1.11);
}
.imagen-contenedor:hover .img-horas2 {
    transform: scale(1.11);
}
/*  Horas    */
.img-horas {
    position: relative; /* Agrega esta línea */
    height: 80%;
    top: -100%;
    font-size: 9vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 70%;
    text-shadow: 
        -1px -1px 0 rgb(0, 0, 0),  
         1px -1px 0 rgb(0, 0, 0),
        -1px  1px 0 rgb(0, 0, 0),
         1px  1px 0 rgb(0, 0, 0); 
    filter: drop-shadow(6px 6px 5px rgb(255, 255, 255));
    margin-bottom: -30%;
    transition: all 300ms;
    z-index: 1;
    pointer-events: none; /*Elimina hitbox*/
    
}
/*  Logros    */
.progress-container2 {
    position: relative;
    height: 100%;
    top: -100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    filter: drop-shadow(4px 4px 5px rgb(0, 0, 0));
    pointer-events: none;
    
}
.progress-container2 .skill2 .progress2 {
    position: relative;
    width: 100%;
    height: 17px;
    background-color: #999;
    border-radius: 6px;
    overflow: hidden;
    pointer-events: none;
    
}
.progress-container2 .skill2 .progress2::before {
    content: '';
    position: absolute;
    width: var(--wth);
    height: 100%;
    background-color: #57df5c;
    
}
.progress2 {
    transition: all 300ms;
    
}
/*CODIGO AL PEDO PERO NO QUIERO ARREGLAR EL PROBLEMA*/
.percentage-text {
    color: #000000;
    justify-content: center;
    display: flex;
    font-weight: 900;
    font-family: 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
    transition: all 300ms;
    position: relative; /* Agrega esta línea */
    top: -21px; /* Ajusta el valor según necesites */
    z-index: -1;
    
}/*CODIGO AL PEDO PERO NO QUIERO ARREGLAR EL PROBLEMA*/
.img-horas2 {
    position: relative; /* Agrega esta línea */
    height: 80%;
    top: -199%;
    font-size: 9vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 70%;
    text-shadow: 
        -1px -1px 0 rgb(0, 0, 0),  
         1px -1px 0 rgb(0, 0, 0),
        -1px  1px 0 rgb(0, 0, 0),
         1px  1px 0 rgb(0, 0, 0); 
    filter: drop-shadow(6px 6px 5px rgb(255, 255, 255));
    margin-bottom: -30%;
    transition: all 300ms;
    z-index: 1;
    pointer-events: none;
    
}


/*  Modal    */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9); /* Usamos solo un valor para background-color */
}
.modal-content {
    position: relative;
    background-color: #202124;
    margin: 8% auto;
    border: 1px solid #ffffff;
    width: 55%;
    height: 80%;
    filter: none;
    overflow: hidden;
}

.modal-content::before {
    content: ""; /* Se utiliza para crear un pseudo-elemento */
    position: absolute;
    top: 80%;
    left: 0;
    right: var(--right-value); /* Utilizando la variable CSS personalizada */
    bottom: 0;
    background-image: var(--background-image-url, url('plataforma')); /* Ruta de la imagen de fondo */
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.5; /* Ajusta la opacidad aquí */
    z-index: -1; /* Asegúrate de que esté detrás del contenido */
    transform: scale(1); /* Escala inicial de la imagen */
}
.scale-normal::before {
    transform: scale(1);
}

.scale-large::before {
    transform: scale(1.7);
}
/* Sector de Imagen*/
.image-container { 
    width: 24.2vw; 
    height: 79.5vh; 
    position: relative; 
    justify-content: left; 
    align-items: center;
    display: flex; 
    box-sizing: border-box; /* Agregamos esto para que el padding se tenga en cuenta en el ancho total */ 
    overflow: hidden; /* Ocultamos cualquier contenido adicional que pueda sobresalir del contenedor */ 
    float: left; /* Alineamos el contenedor a la izquierda */
}
#modal-image {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 550px;
}
/*Sector Texto*/
.content-container {
    width: 26vw; 
    height: 60vh; 
    position: relative; 
    align-items: top;
    display: block; 
    box-sizing: border-box; /* Agregamos esto para que el padding se tenga en cuenta en el ancho total */ 
    overflow: hidden; /* Ocultamos cualquier contenido adicional que pueda sobresalir del contenedor */ 
    float: left; /* Alineamos el contenedor a la izquierda */
    margin-left: 3%;
}
#modal-text{
    color: #fff;
    text-shadow: 
        -1px -2px 0 rgb(0, 0, 0),  
         1px -2px 0 rgb(0, 0, 0),
        -1px  2px 0 rgb(0, 0, 0),
         1px  2px 0 rgb(0, 0, 0); 
         white-space: nowrap; /* Evitar que el texto se divida en múltiples líneas */
         overflow: hidden; /* Ocultar el texto que desborda el contenedor */
         text-overflow: ellipsis; /* Agregar puntos suspensivos (...) al final del texto que desborda el contenedor */
         font-size: 2vw;
}
/*Datos dentro del Texto*/
.TittleGame {
    margin: 0 auto; /* Centrar horizontalmente */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: min(4vw, 49px);
}
.Subtittle{
    display: inline;
    justify-content: left; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.Datos{
    display: flex;
    justify-content: left; 
    font-size: 15px;
}
.progress-container {
    position: relative;
    width: 97%;
    height: 1%;
    float: right;
    margin-right: 3%;
    margin-top: -2%;
    display: block;
}
.progress-container .skill .progress {
    position: relative;
    width: 100%;
    height: 9px;
    background-color: #999;
    border-radius: 6px;
    overflow: hidden;
}
.progress-container .skill .progress::before {
    content: '';
    position: absolute;
    width: var(--wth);
    height: 100%;
    background-color: #57df5c;
}
/*Cierre de Modal*/
.close {
    color: #ffffff;
    float: right;
    font-size: 60px;
    font-weight: bold;
    margin-right: 3%;
    margin-top: 1%;
    user-select: none;
}
.close:hover{
    color: rgb(0, 0, 0);
    text-shadow: 
        -1px -1px 0 rgb(255, 255, 255),  
         1px -1px 0 rgb(255, 255, 255),
        -1px  1px 0 rgb(255, 255, 255),
         1px  1px 0 rgb(255, 255, 255); 
}


/* Responsive CSS */
@media (max-width: 500px) {
    .menu-toggle {
        display: block;
        position: absolute;
        top: -10px;
        background-color: rgb(107, 64, 224);
        color: white;
        font-size: 24px;
        border: none;
        cursor: pointer;
        padding: 10px 15px;
        width: 100%;
    }
    .phomea {
        position: absolute;
        top: -30px;
        right: 15px; /* Ajusta el margen derecho según sea necesario */
    }
    #menu ul {
        display: none; /* Initially hide the menu items */
        flex-direction: column;
        width: 100%;
        margin-top: 9%;
        position: relative;
    }
    #menu ul.menu-items.active {
        display: flex; /* Show the menu items when the toggle is active */
        
    }
    #menu ul li {
        margin: 10px 0;
        
    }
    #menu ul li a,
    #menu ul li input {
        display: block;
        width: 100%;
        text-align: center;
        padding: 15px 0;
        
    }
    .search-box {
        width: 250px;
    }
    h2 {
        font-size: 40px;
        margin-top: 60px;
    }
    #menu2 {
        margin-left: 10px;
        font-size: 14px;
    }
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        grid-gap: 20px;
    }
    .img-horas {
        font-size: 6vh;
    }
    .img-horas2 {
        font-size: 6vh;
    }
    .modal-content {
        width: 90%;
        height: auto;
        margin: 15% auto;
    }
    .image-container {
        width: 100%;
        height: auto;
        justify-content: center;
        float: none;
    }
    #modal-image {
        max-width: 100%;
        max-height: 100%;
    }
    .content-container {
        width: 100%;
        height: auto;
        margin-left: 0;
        float: none;
        padding: 10px;
    }
    #modal-text {
        white-space: normal; /* Allow text to wrap */
        font-size: 4vw; /* Adjust font size */
    }
    .TittleGame {
        font-size: min(6vw, 30px); /* Adjust font size */
    }
    .Subtittle {
        font-size: 4vw; /* Adjust font size */
    }
    .Datos {
        font-size: 3vw; /* Adjust font size */
    }
    .progress-container {
        width: 100%;
        margin: 10px 0;
    }
    .close {
        font-size: 40px; /* Reduce font size */
        margin-right: 5%;
        margin-top: 5%;
        display: none;
    }
    #menu2 label{
        display: none;
    }

}

@media (max-width: 1200px) {
    #contador-imagenes {
        width: 35%;
        display: inline-block;
        margin-left: 361px;
    }
    .modal-content {
        width: 70%;
    }
    .image-container{
        width: 33vw;
        max-height: 100%;
    }
    .content-container {
        margin-top: 12%;
        margin-left: 5%;
        scale: 110%;
    }
}